.recipes-list {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.recipe-card {
	display: flex;
	width: 400px;
	height: 200px;
	border-radius: 8px;
	align-content: center;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;
	background-image: url("https://optim.tildacdn.com/tild3465-6637-4665-b964-623039386662/-/format/webp/_2.png");
	background-size: 460px;
}

.recipe-card:hover {
	transform: scale(1.04);
}

.recipe-card__link,
.recipe-card__link:hover {
	margin: 0 0 5px 15px;
	color: #f9f9f8;
	font-size: small;
	text-decoration: none;
}

.title-recipes {
	margin: 25px;
	color: #274c5b;
}
